@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.2em;
  margin: 0 auto;
  max-width: 960px;
  padding: 40px 10px;
  line-height: 1.65em;
  background: #161616;
  color: #fff;
  font-weight: 300;
}

h1 {
  text-align: center;
  margin: 8% 0 4% 0;
  color: #ddb61c;
}

#wordbox {
    /*opacity: 0;*/
    margin: 30px auto 0;
    display: block;
    width: 300px;
    height: 40px;
    font-size: 30px;
    outline: none; 
    text-align: center;
    background: #fff;
    border:0px;
    border-radius: 5px;
    color: #black;
    transition: 1s linear;
}

#button {
    background: #ddb61c;
    border: 0;
    color: #fff;
    font-size: 1em;
    padding: 1em 2em;
    cursor: pointer;
    outline: none; 
    margin: 0 auto 60px;
    display: block;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 6px #F4A817;
    font-weight: bold;
}

#button:active {
  background-color: #ddb61c;
  box-shadow: 0 5px #F4A817;
  transform: translateY(4px);
}

#color-default {
  background-color:#161616;
  width:1.25em;
  height:1.25em;
  border:none;
  outline:none;
  cursor:pointer;
}

#color-blue {
  background-color:#107CAA;
  width:1.25em;
  height:1.25em;
  border:none;
  outline:none;
  cursor:pointer;
}

.header {
  position:fixed;
  top:0;
  left:0;
  right:0;
  padding: 0.3125em;
  background-color: #0a0a0a;
  font-size: 0.75em;
}

.footer {
  position: fixed;
  bottom: 0;
  left:0;
  right:0;
  padding: 1rem;
  background-color: #0a0a0a;
  font-size: 0.75em;
  color: #4f4f4f;
  text-align: center;
}

.footer a {
  color: #4f4f4f;
  text-decoration:none;
}

.footer a:hover {
  color: #ddb61c;
}
